/* EstoquePage.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E3EEFF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo para o contêiner principal */
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Corpo do conteúdo */
main {
  display: flex;
  flex: 1;
  padding: 24px;
  gap: 24px;
}

/* Gráfico de Barras */
.bar-chart-container {
  flex: 7;
  display: flex;
  justify-content: center;
}

/* Gráfico de Biscoito (Doughnut) */
.doughnut-chart-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Estilo para os botões */
.button-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: absolute;
  top: 80px; /* Ajuste a posição de acordo com o cabeçalho */
  width: 100%;
}

/* Estilo para os botões com ícone */
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}

/* Estilo para botões ativos */
.icon-button.bg-blue {
  background-color: #3B82F6;
  color: white;
}

/* Estilo para botões inativos */
.icon-button.bg-gray {
  background-color: #D1D5DB;
  color: black;
}

.icon-button:hover {
  opacity: 0.8;
}
